<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de HistorIAs</title>
    <link rel="stylesheet" href="../static/estilo.css">
</head>
<body>
    <div class="container">
        
        <div class="formulario">
            <h1 style="color: #708240;">Gerador de HistórIAs Infantis</h1>
            <h3 style="color: #708240;">Invente sua própria História Infantil</h3>
            <p style="color: #708240;">Basta digitar um título que a IA criará a história para você!</p>
            <div id="titulo">
                <div class="titulo-row">
                    <input type="text" class="titulo titulo-input" placeholder="Digite o título da história...">
                </div>
            </div>
            <button class="btn-success" onclick="submitForm()">Iniciar aventura</button>
            <div id="response" class="response"></div>
        </div>
    </div>
    <div class="footer">
        <p>Produzido por Nicolly Guimarães<br>
        Desenvolvimento de Sistemas - SESI SENAI ITAPEVA 2024</p>
    </div>    
    <script src="../static/script.js"></script>
</body>
</html>